*{
  background-color: burlywood;
}

nav {
  background-color: #444;
  height: 40px;

  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.navbar {
  background-color: #444;
  display: flex;
  justify-content: center;
}
.navbar span {
  background-color: #444;
}

.lists {
  background-color: #444; 
}

.navbar ul li {
  margin-right: 15px;
  position: relative;
  padding-left: 20px;
  background-color: #444;
}
.navbar ul li a {
  color: #ddd;
  text-decoration: none;
  background-color: #444;
  padding: 0 10px;
}

.navbar ul li img {
  margin-right: 5px;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #444;
}

.navbar ul li a:hover {
  background-color: rgb(223, 12, 177);
  padding: 0 10px;
}

.head-presentation {
  height: 250px;
  max-width: 100%;
  background-image: url("../ressources/bg-shop.jpg");
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  z-index: 3;
}

.menu {
  display: inline-flex;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #ddd;
}

.title {
  text-align: center  ;

}

.nav-list {
  display: inline-flex;
  width: 200px;
  align-items: center;
  border-right: 1px solid #606060;
  height: 40px;
  justify-content: center;
  background-color: #ddd;
  color: #606060;
}

.nav-list a{
  background-color: #ddd;
  color: #444;
}

.search button {
  width: 100px;
  height: 40px;
  background-color: rgb(161, 144, 144);
  
}