*{
  /* background-color: burlywood; */
}

.left-nav img{
  width: 50px;
  height: 40px;
  filter: opacity(80%);
  border-radius: 5px 5px;
}

nav {
  height: 60px;
  max-width: 100%;
  background-color: #333;
}

.user {
  width: 35px;
  height: 45px;
  filter: invert(80%);
}

.head-presentation {
  background: black;
  /* background-image: url('../ressources/pickup.jpg'); */
}

main {
  background-color: rgb(115, 131, 88);
}

.nav-list {
  width: 200px;
  height: 50px;
  background-color: #304241;
  border-radius: 8px;
}

.nav-list a{
  color: #fff;
  text-decoration: none;
}

.nav-list input {
  border-radius: 15px;
  width: 180px;
  height: 20px;
}

.articles img {
  height: 170px;
}

.articles span {
  text-decoration: line-through;
  padding-left: 15px;
}

.title p {
  font-size: 2rem;
  text-align: center;
  color: #13c7e7;
}

.title h1 {
  font-size: 7rem;
  text-align: center;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
   color: #fff;
 text-shadow: 0 0 10px #13c7e7, 0 0 20px #00fff2, 0 0 30px #c714a0, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
}

to {
  color: gray;
 text-shadow: 0 0 20px #10e2d8, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
}
}

.mobile-money {
  height: 180px;
  width: 300px;
}

footer {
  background-color: rgb(22, 21, 21);
  height: 80px;
}

footer h2 {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  color: #10e2d8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socials a img {
  width: 33px;
  height: 33px;
  margin: 0 5px;
  filter: invert(100%);
}

.middle-footer img {
  width: 50px;
  height: 30px;
}