.left-nav img {
  width: 50px;
  height: 40px;
  filter: opacity(80%);
  border-radius: 5px 5px;
}

nav {
  height: 60px;
  max-width: 100%;
  background-color: #333;
}

.user {
  width: 35px;
  height: 45px;
  filter: invert(80%);
}

.head-presentation {
  background: black;
}

main {
  background: linear-gradient(180deg, rgba(177, 80, 85, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%), url(../ressources/pickup.jpg);
  color: #fff;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.nav-list button {
  width: 200px;
  height: 50px;
  background: linear-gradient(to left, rgb(138, 102, 102) 25%, rgb(180, 176, 176) 50%, rgb(233, 168, 168) 75%, rgb(238, 203, 203) 75%);
  border-radius: 10px;
}

.articles img {
  height: 170px;
}

.articles span {
  text-decoration: line-through;
  padding-left: 15px;
}

.title p {
  font-size: 2rem;
  text-align: center;
  color: #13c7e7;
}

.artics h2:hover {
  color: antiquewhite;
  font-size: large;
}

.title h1 {
  font-size: 7rem;
  text-align: center;
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #13c7e7, 0 0 20px #00fff2, 0 0 30px #c714a0, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }

  to {
    color: rgb(236, 148, 148);
    text-shadow: 0 0 20px #10e2d8, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

.mobile-money {
  height: 180px;
  width: 300px;
}

footer {
  background-color: rgb(22, 21, 21);
  height: 80px;
}

.middle-footer img {
  width: 50px;
  height: 30px;
}

.img-shop img {
  height: 250px;
  max-width: 400px;
}

.middle-footer img {
  margin: 0 5px;
}

.socials a img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  filter: invert(100%);
}

.img-shop {
  max-width: 80%;
}

.img-shop img:hover {
  width: 500px;
  background-color: red;
  background-image: linear-gradient(red, yellow);
  box-shadow: 15px 10px rgba(173, 142, 142, 0.75);
}

.griz img:hover {
  width: 400px;
  height: 300px;
}

.w-90 {
  width: 90%;
}

.bg-s {
  background: linear-gradient(180deg, rgba(177, 80, 85, 0.7) 0%, rgba(0, 0, 0, 0.9) 100%), url(../ressources/pickup.jpg);
}

@media only screen and (max-width: 768px) {
  .left-nav img,
  .middle-footer img,
  .right-hand button {
    display: none;
  }

  .griz img {
    height: 180px;
  }

  .left-nav h3 {
    font-size: medium;
    padding-top: 10px;
  }

  .title h1 {
    font-size: 4rem;
  }
}